* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body{
  background-color: darkgrey;
}
  
  .menu {
    width: 800px;
    background-color:darkgrey;
    padding: 10px;
    height: 100px;
    float: right;
    margin-top: 20px;
    margin-right: 50px;
  }
  ul {
    display: flex; /* Align items in a row */
    padding: 0;    /* Remove default padding */
    margin: 0;     /* Remove default margin */
}
  
  ul li {
    list-style: none;
    padding: 10px 15px;
    background-color: #053081;
    border-radius: 10px;
    margin: 10px;  
    transition: background-color;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }
  
  ul li:hover {
    background-color: #2059b6;
  }
  
  ul li a {
    display: flex;
    gap: 20px;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    transition: background-color 0.5s;
  }
  
  ul li a img {
    width: 20px;
    height: 20px;
    transition: all 0.5s;
  }


  ul li:hover a {
    font-weight: bold;
    background-color: aqua;
    transform: rotate(2deg);
  }

  ul li:hover a img {
    width: 24px;
    height: 24px;
  }
